@import './home.scss';

// Estilos generales
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.titulo {
  font-size: 24px;
  text-decoration: underline;
}
.titulo1 {
  padding: 10px;
  line-height: 2em;
  background-color: lightgray;
  
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;

  }

.container1 {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages {
  display: flex;
  justify-content: center;
  font-weight: 800;
  max-width: 70%;
}

.subcontainer {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.container-heading {
  display: flex;
  justify-content: center;

  p {
    margin-right: 20px;
  }

}

input[type="text"] {
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  &:hover {
    border: 2px solid #002fff;
    border-radius: 5px;
  }
}

button {
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: justify;
}

li button:hover {
  background-color: #e53935;
}

.button-edit {
  &:hover {background-color: rgb(0, 26, 255);}
}
// Otros estilos personalizados aquí

.login-msg {
  font-size: 1em;
  margin-top: 40px;
  color: rgb(161, 16, 16);
  opacity: 1; /* Inicialmente, el mensaje no es visible */
  transition: opacity 5s ease-in-out; /* Añade una transición para la propiedad opacity */
}

.login-msg.visible {
  opacity: 0; /* Cuando la clase "visible" está presente, se mostrará el mensaje con una animación de desvanecimiento */
}

.regis-msg {
  font-size: 1em;
  margin-top: 40px;
  color: rgb(161, 16, 16);
  opacity: 1; /* Inicialmente, el mensaje no es visible */
  transition: opacity 5s ease-in-out; /* Añade una transición para la propiedad opacity */
}

.regis-msg.visible {
  opacity: 0; /* Cuando la clase "visible" está presente, se mostrará el mensaje con una animación de desvanecimiento */
}

.author {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  color: rgb(48, 50, 177);

  a {
    text-decoration: none;
    color: rgb(88, 90, 230);
    font-weight: 800;
  }
}


/* Media query for mobile devices with max-width 768px */
@media (max-width: 900px) {
  .login {
    flex-direction: column;
 
    input[type="text"] {
      margin-bottom: 15px;
      height: 40px;
    }
  
    button {
      border-radius: 10px;
      margin-bottom: 5px;
    }
  }

  li {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 90%;
    justify-content: center;
    align-items: center;

    button {
      width: 100%;
    }

  }

  .li-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .listado-items {
    display: flex;
    flex-direction: column;
  }
  .container {
    margin: 0 auto;
    padding: 20px;  
    }
  
  .container-heading {
    display: flex;
    flex-direction: column;
  }

  .listado-items {
    font-size: small;
  }

  .texto-li {
    text-align: justify;
    width: 90%;
  }

  .subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;

    input {
      width: 100%;
      margin-bottom: 10px;
    }

    button {
      width: 50%;
      margin-bottom: 10px;
    }

  }

  .button-edit {
    width: 100%;
    margin-bottom: 10px;
  }

}